<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sports Equipment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-info navbar-dark justify-content-center">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/products">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/products/add">Add</a>
        </li>
    </ul>
</nav>
<div class="container">
<form class="form" method="post" action="/products/add" th:object="${product}">
    <div class="form-group">
        <label for="productName">Name</label>
        <input id="productName" type="text" th:field="*{name}" class="form-control" name="name" placeholder="Enter name" required>
    </div>
    <div class="form-group">
        <label for="productPrice">Price</label>
        <input id="productPrice" type="number" th:field="*{price}" class="form-control" name="price" required>
    </div>
    <div class="form-group">
        <label for="productDescription">Description</label>
        <input id="productDescription" type="text" th:field="*{description}" class="form-control" name="description" placeholder="Describe" required>
    </div>
    <div class="form-group">
        <label for="productImageSource">Image source</label>
        <input id="productImageSource" type="text" th:field="*{imgSrc}" class="form-control" name="imgSrc" placeholder="Image source" required>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
            <select class="form-control" id="category" name="category" th:field="*{category.id}" required>
                <!--<option value="none">Select a category</option>-->
                <option th:each="category:${categoriesList}"
                        th:text="${category.getName()}"
                        th:value="${category.getId()}"></option>
            </select>

    </div>
    <div class="form-group">
        <label for="manufacturer">Manufacturer</label>
        <select class="form-control" id="manufacturer" name="manufacturer" th:field="*{manufacturer.id}" required>
            <!--<option value="none">Select a manufacturer</option>-->
            <option th:each="manufacturer:${manufacturersList}"

                    th:text="${manufacturer.getName()}"
                    th:value="${manufacturer.getId()}"></option>
        </select>

    </div>
    <div class="form-group">
        <label for="accessories">Accessories</label>
        <select multiple class="form-control" id="accessories" name="accessories">
            <option th:each="accessory:${accessories}"
                    th:field="*{accessories}"
                    th:text="${accessory.getName()}"
                    th:value="${accessory.id}"></option>
        </select>

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<script>
    function parametersHaveBeenFilledOut() {

    }
</script>
</body>
</html>