<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <div class="container">
            <form action='/charge' method='POST' id='checkout-form'>

                <input type='hidden' th:value='${amount}' name='amount'/>
                <label>Name:<span th:text='${name}'/></label>
                <label>Price:<span th:text='${amount}'/></label>
                <!-- NOTE: data-key/data-amount/data-currency will be rendered by Thymeleaf -->
                <script
                        src='https://checkout.stripe.com/checkout.js'
                        class='stripe-button'
                        th:attr='data-key=${stripePublicKey},
                 data-amount=${amount},
                 data-currency=${currency}'
                        data-name='EMT'
                        data-description='EMT course'
                        data-image
                                ='https://www.finki.ukim.mk/Content/dataImages/downloads/logo-large-500x500_2.png'
                        data-locale='auto'
                        data-zip-code='false'>
                </script>
            </form>
        </div>
    </main>
</body>
</html>