<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sports Equipment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-info navbar-dark justify-content-center">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/products">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/products/add">Add</a>
        </li>
    </ul>
</nav>
    <div class="container" style="font-family: Gadugi, serif">
        <ul class="list-group" th:each="product:${productsList}">

            <li th:onclick="'red(\'' + ${product.getId()} + '\');'" class="list-group-item list-group-item-info">
                <div class="row">
                    <div class="col-sm-11"><h3 th:text="${product.getName() + ' ' + product.getPrice()}"></h3></div>
                    <div class="col-sm-1">
                        <form action="/products/" th:method="delete">
                            <!--suppress HtmlFormInputWithoutLabel -->
                            <input hidden th:value="${product.getId()}" name="productId">
                            <input type="submit" value="Delete" class="btn btn-danger">
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </div>
<script>
    function red(id){
        window.location.replace("/products/"+id);
    }
</script>
</body>
</html>