<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sports Equipment</title>
<!--
    <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css">
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="/assets/vendor/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>
-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        .right{
            float: right;
            border-right: #05afc3 2px solid;
            padding-right: 10px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-info navbar-dark justify-content-center">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/products">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/products/add">Add</a>
        </li>
    </ul>
</nav>
    <div class="row" style="padding: 30px; font-family: Gadugi, serif">
        <div class="col-sm-5"><h3 class="right">Name:</h3></div><div class="col-sm-7"><h3 th:text="${product.getName()}"></h3></div>
        <div class="col-sm-5"><h3 class="right">Price:</h3></div><div class="col-sm-7"><h3 th:text="${product.getPrice()}"></h3></div>
        <div class="col-sm-5"><h5 class="right">Image:</h5></div><div class="col-sm-7"><!--suppress RequiredAttributes -->
        <img th:src="${product.getImgSrc()}"  class="img-thumbnail" width="450pt" alt="Image here"></div>
        <br>
        <div class="col-sm-5"><h5 class="right">Description:</h5></div><div class="col-sm-7"><p th:text="${product.getDescription()}"></p></div>
        <div class="col-sm-5"><h5 class="right">Category:</h5></div><div class="col-sm-7"><p th:text="${product.getCategory().getName()+ ' (ID: ' + product.getCategory().getId()+ ')'}"></p></div>
        <div class="col-sm-5"><h5 class="right">Manufacturer:</h5></div><div class="col-sm-7"><p th:text="${product.getManufacturer().getName() + ' (ID: ' + product.getManufacturer().getId() + ')'}"></p></div>
        <div class="col-sm-5"><h5 class="right">Accessories:</h5></div><div class="col-sm-7" ><p th:each="accessory : ${product.accessories}" th:text="${accessory.name}"></p></div>
        <div style="display: block; margin: auto; width: fit-content; color: #ffffff;"><a style="" th:href="@{'/checkout/'+${product.getId()}}" class="btn btn-primary">Pay with Card</a></div>

    </div>
<!--
<div class="container">
    <div class="card" style="width:400px">
        <img class="card-img-top" th:src="${product.getImgSrc()}" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title" th:text="${product.getName()}"></h4>
            <p class="card-text" th:text="${product.getDescription()}"></p>
            <p th:text="${product.getCategory()}"></p>
            <p th:text="${product.getManufacturer()}"></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="card" style="width: auto;">
<div class="row" style="padding: 30px; font-family: Gadugi">
    <div class="col-sm-5"><h3 class="right">Name:</h3></div><div class="col-sm-7"><h3 th:text="${product.getName()}"></h3></div>
    <div class="col-sm-5"><h5 class="right">Image:</h5></div><div class="col-sm-7"><img th:src="${product.getImgSrc()}"  class="img-thumbnail" width="450pt" alt="Image here"></div>
    <br>
    <div class="col-sm-5"><h5 class="right">Description:</h5></div><div class="col-sm-7"><p th:text="${product.getDescription()}"></p></div>
    <div class="col-sm-5"><h5 class="right">Category:</h5></div><div class="col-sm-7"><p th:text="${product.getCategory().getName()+ ' (ID: ' + product.getCategory().getId()+ ')'}"></p></div>
    <div class="col-sm-5"><h5 class="right">Manufacturer:</h5></div><div class="col-sm-7"><p th:text="${product.getManufacturer().getName() + ' (ID: ' + product.getManufacturer().getId() + ')'}"></p></div>
</div>
    </div>
</div>
-->
</body>
</html>