<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-info navbar-dark justify-content-center">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/products">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/products/add">Add</a>
        </li>
    </ul>
</nav>
<h3 th:if='${error}' th:text='${error}' style='color: red;'></h3>
<div th:unless='${error}' class="container">
    <h3 style='color: green;'>Success!</h3>
    <div>Id.: <span th:text='${id}'/></div>
    <div>Status: <span th:text='${status}'/></div>
    <div>Charge id.: <span th:text='${chargeId}'/></div>
    <div>Balance transaction id.: <span th:text='${balance_transaction}'/></div>
</div>

</body>
</html>